
table{
 box-shadow: 5px 10px rgb(0, 0, 0);
opacity: 90%;
border:3px solid black;
width: 100%;
background-color: #4c75ab;
height: fit-content;
font-size: 30px


};
.th{
    width: max-content;
    
   border: solid;
   
};
.thead{
    display: grid;
justify-content: center ;
gap:30px ;

}
td{
    text-align: center;
}
